-- =============================================
-- estrela.sql
-- Esquema Estrela para Análise de Turmas (UFS)
-- Estrutura extraída do RDS em 14/07/2026
-- =============================================

-- Cria Schema (caso não exista)
CREATE SCHEMA IF NOT EXISTS estrela;

-- DIMENSÕES

CREATE TABLE estrela.dim_campus (
    id_campus SERIAL PRIMARY KEY,
    nome VARCHAR(100) NOT NULL UNIQUE
);

CREATE TABLE estrela.dim_departamento (
    id_departamento SERIAL PRIMARY KEY,
    codigo VARCHAR(20) NOT NULL UNIQUE,
    nome VARCHAR(200) NOT NULL
);

CREATE TABLE estrela.dim_disciplina (
    id_disciplina SERIAL PRIMARY KEY,
    codigo VARCHAR(20) NOT NULL UNIQUE,
    nome VARCHAR(200) NOT NULL,
    departamento_responsavel VARCHAR(50),
    cr_total INTEGER
);

CREATE TABLE estrela.dim_professor (
    id_professor SERIAL PRIMARY KEY,
    nome VARCHAR(200) NOT NULL,
    tipo_jornada VARCHAR(50),
    formacao VARCHAR(50),
    departamento_lotacao VARCHAR(100)
);

CREATE TABLE estrela.dim_semestre (
    id_semestre SERIAL PRIMARY KEY,
    ano INTEGER NOT NULL,
    periodo INTEGER NOT NULL
    -- opcional: ADD CONSTRAINT chk_periodo CHECK (periodo IN (1,2))
);

-- =============================================
-- TABELA FATO
-- =============================================
-- Adicionei id_turma como PK para evitar duplicatas
CREATE TABLE estrela.fato_turma (
    id_turma SERIAL PRIMARY KEY,
    id_disciplina INTEGER REFERENCES estrela.dim_disciplina(id_disciplina),
    id_professor INTEGER REFERENCES estrela.dim_professor(id_professor),
    id_semestre INTEGER NOT NULL REFERENCES estrela.dim_semestre(id_semestre),
    id_campus INTEGER NOT NULL REFERENCES estrela.dim_campus(id_campus),
    num_discentes_matriculados INTEGER DEFAULT 0 NOT NULL
);

-- PERMISSÕES (opcional)

GRANT SELECT, INSERT, UPDATE, DELETE, TRUNCATE ON ALL TABLES IN SCHEMA estrela TO etl_user;
GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA estrela TO etl_user;